.header{
  background-color: #ffdab9;
  height: 80px;
}
.header-logo{
  font-family:verdana;
  font-weight: bold;
  float: left;
  padding: 33px 20px 33px 20px;
}
.header-list {
  font-family: serif;
  font-style: italic;
}
.header-list li {
  list-style: none;
  float: left;
  padding: 33px 20px 33px 20px;
}
.copy-container{
  font-family: "Segoe Script";
  font-style: italic;
}
.main {
  background-color: #fff8dc;
  height: 2200px;
}
.contents-item{
  font-family: "Segoe Script";
  font-style: italic;
}
.contact-form{
  padding-top: 5px;
  font-family: "Segoe Script";
}
.section-title{
  font-family: serif;
}
.section-title2{
  font-family: "Segoe Script";
  font-style: italic;
}
.footer {
  background-color:#f5f5f5;
  height: 600px;
  padding: 40px;

}
.footer-logo{
    font-size: 20px;
    font-family:verdana;
    font-weight: bold;
    float: left;
    padding: 20px 20px 20px 20px;
  }

.footer-list{
  float: right;
}

.footer-list li{
  list-style:none;
  padding-bottom: 20px;
  font-family: "Segoe Script";
  font-style: italic;
}

.cp_iptxt {
	position: relative;
	width: 27.33%;
	margin: 40px 3%;
}
.cp_iptxt input[type='text'] {
	font: 15px/24px "Segoe Script";
	box-sizing: border-box;
	width: 100%;
	padding: 0.3em;
	padding-left: 40px;
	letter-spacing: 1px;
	border: 0;
}
.cp_iptxt input[type='text']:focus {
	outline: none;
}
.cp_iptxt input[type='text']:focus::after {
	outline: none;
}
.cp_iptxt i {
	position: absolute;
	top: 0;
	left: 0;
	padding: 9px 5px;
	transition: 0.3s;
	color: #aaaaaa;
}
.cp_iptxt::after {
	display: block;
	width: 100%;
	height: 4px;
	margin-top: -1px;
	content: '';
	border-width: 0 1px 1px 1px;
	border-style: solid;
	border-color: black;
}
.message{
  position: relative;
  width: 50%;
}
.submit-btn{
  display       : inline-block;
 border-radius : 16%;          /* 角丸       */
 font-size     : 15pt;        /* 文字サイズ */
 text-align    : center;      /* 文字位置   */
 cursor        : pointer;     /* カーソル   */
 padding       : 12px 12px;   /* 余白       */
 background    : #f0ffff;     /* 背景色     */
 color         : black;     /* 文字色     */
 line-height   : 0.5em;         /* 1行の高さ  */
 transition    : .3s;         /* なめらか変化 */
 font-family: "Segoe Script";
 	margin: 10px 3%;
}

.cp_hr05 {
	position: relative;
	height: 5px;
	border-width: 0;
	background-color: #00bcd4;
	background-image: -webkit-linear-gradient(left,#ff9a9e 0%, #fecfef 99%, #fecfef 100%);
	background-image:  linear-gradient(#ff9a9e 0%, #fecfef 99%, #fecfef 100%);
  background-image: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
